.auth_forgot_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: #EFEFEF;
}
.auth_forgot_page .auth_wrapper {
  flex: 1;
}
.auth_forgot_page .btn_forgot_password {
  width: 100%;
}
.auth_forgot_page .btn_back_login {
  display: block;
  text-align: center;
  margin: 0.5rem 0 0;
  padding: 0.5rem 0 0;
}
